body {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
}

.start p {
    font-size: 1.6rem;
    margin-left: 21px;
    display: inline-block;
    color: rgb(183, 55, 16);
}

.start li {
    display: inline-block;
    margin: 0 1rem;
}

.search {
    cursor: pointer;
    background-color: #eaeaea;
    border-radius: 50px;
    display: flex;
    max-height: 10vh;
    margin-left: 1rem;
    width: 40vw;
}

.art {
    display: inline-block;
    color: rgb(180, 16, 16);
    font-family: 'Labrada', serif;
    font-weight: bolder;
    font-size: 2.5rem;
    height: 2rem;
}

hr {
    margin: 0;
    border: #807d7d;
    border-width: 1rem;
}

.description {
    background-color: #adc9e5;
    margin: 0;
    height: 10rem;
    text-align: center;
}

.description li {
    display: inline-block;
    margin: 0 0.2rem;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 4rem;
}

.image_name {
    text-align: center;
    font-size: 1.1rem;
    color: rgb(23, 28, 85);
}

.mySlides {
    display: none;
}

.slide-img {
    vertical-align: middle;
    width: 500px;
    height: 500px;
}

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    margin-top: 13rem;
    border: #1d1c1c 6px double;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.content {
    text-align: center;
    font-size: 1.2rem;
    position: relative;
}

.content p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 10rem;
    font-size: 1.4rem;
    line-height: 2rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

a {
    text-decoration: none;
    color: rgb(32, 15, 143);
    font-family: 'Calistoga', cursive;
}

a:hover {
    color: rgb(40, 131, 170);
}

.container_index {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(33, 33, 59, 0.8), rgba(0, 0, 50, 0.8)), url(images/sign_up_image.webp);
    background-size: cover;
    position: absolute;
    font-size: 1px;
}

.form_box {
    width: 90%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form_box h1 {
    font-size: 40px;
    margin-bottom: 60px;
    color: #245082;
    position: relative;
    font-family: 'Calistoga', cursive;
}

.input {
    height: 280px;
}

.input_data {
    background: #e5e4e4;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input_data i {
    margin-left: 15px;
    color: #999;
}

.forget_password p {
    font-size: 1.5rem;
}

.forget_password a {
    font-size: 1.2rem;
}

.botton {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botton button {
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.botton button.disable {
    background: #eaeaea;
    color: #555;
}

.submit {
    padding: 0 30px 0 20px;
    text-align: center;
}

.ideas_background {
    width: 100%;
    background-image: linear-gradient(rgba(33, 33, 59, 0.8), rgba(0, 0, 50, 0.8)), url(images/sign_up_image.webp);
    background-size: cover;
    position: absolute;
    font-size: 1px;
    padding-bottom: 2rem;
}

form p {
    text-align: left;
    font-size: 15px;
}

form a {
    color: rgb(6, 64, 88);
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.head {
    margin-left: 27rem;
    position: relative;
}


.name {
    font-family: 'Labrada', serif;
    font-size: 5rem;
    margin-bottom: 0;
    color: rgba(124, 51, 51, 0.647);
}

.container {
    width: 35%;
    margin: 0 auto;
    color: rgb(19, 19, 19);
    font-weight: bolder;
    font-size: large;
    background-color: #f1efef;
    border-style: none;
    padding: 10px;
    margin-top: 60px;
    font-family: 'Shantell Sans', cursive;
}

.container h1 {
    color: #c93d3d;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.container button {
    height: 2rem;
    width: 5rem;
    border-radius: 8px;
    color: #efefef;
    background-color: #131212;
}


.content h1 {
    color: #9f2525;
}

.content {
    color: #0070ac;
}

.midcontent {
    text-align: center;
    padding: 2px;
    margin-top: 40px;
    font-size: larger;
    color: #666;
    display: flex;
    justify-content: center;
}

.inside_mid {
    display: flex;
    border: 2px solid white;
}

.middata {
    color: #666;
    font-family: CalibreFamily, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-left: 0px;
    font-size: 20px;
    margin: 0px;
    line-height: normal;
}

.item {
    font-size: small;
}

#item-1 h4 {
    background-color: rgb(237, 164, 173);
    margin: auto;
    padding: 8px;
    max-width: fit-content;
    font-size: 1.0rem;
}

#item-2 h4 {
    background-color: rgb(149, 225, 249);
    margin: auto;
    padding: 8px;
    max-width: fit-content;
    font-size: 1.0rem;
}

#item-3 h4 {
    background-color: rgb(248, 232, 161);
    margin: auto;
    padding: 8px;
    max-width: fit-content;
    font-size: 1.0rem;

}

#item-4 h4 {
    background-color: rgb(189, 249, 151);
    margin: auto;
    padding: 8px;
    max-width: fit-content;
    font-size: 1.0rem;

}


#item-1 p {

    text-align: center;
    max-width: fit-content;
    font-size: 0.6rem;
    margin-left: 0.6rem;


}

#item-2 p {

    text-align: center;
    max-width: fit-content;
    font-size: 0.6rem;
    margin-left: 0.6rem;

}

#item-3 p {

    text-align: center;
    max-width: fit-content;
    font-size: 0.6rem;
    margin-left: 0.6rem;

}

#item-4 p {

    text-align: center;
    max-width: fit-content;
    font-size: 0.6rem;
    margin-bottom: 4rem;
    margin-left: 0.6rem;

}


.filter {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 60px;

}

#filter-form {
    padding: 5px;
    margin-top: 0px;
}

#filter-form ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.category-painting p {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: rgb(173, 25, 25);
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.category-painting {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.color-group {
    display: inline-block;
    padding: 0px;
    margin: 0px;

}

.form-group {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.form-discount {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.shape {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.Exclusive {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.apply-submit {
    list-style: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-left: 6rem;
    font-size: medium;
}

label {
    display: block;
    font-weight: bold;
    font-size: medium;
    padding-right: 0px;
}

.bottom {

    margin-top: 5rem;
    background-color: #d7e6f5 !important;
    background-size: 80%;
    margin: 0;
}

.bottom p {
    text-align: center;
    margin-left: 19rem;
    max-width: 50%;
    padding-top: 30px;
    margin-bottom: 2rem;
}

.button1 {
    margin-left: 37rem;
    margin-bottom: 0rem;
    padding: 0;
    margin-top: 0;
    font-size: 1.7rem;
}

.shop1 {
    margin: 0rem 6rem 6rem 3rem;
}

.shop-image {
    background-color: rgba(196, 192, 192, 0.8);
    border: 1px solid rgba(231, 228, 228, 0.8);
    padding-bottom: 15px;
    width: 80%;
    height: 70%;
    padding: 10px;

}

#view-all {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    background-color: #6c757f;
    color: whitesmoke;
}


footer h1 {
    text-align: center;
    font-family: CalibreFamily, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #2f466c;
    margin-top: 0px;
    padding: 0 px;
    margin-bottom: 0px;
    color: white;
    padding-top: 2rem;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 0.5rem;
    margin-bottom: 0%;
    background-color: #2f466c;
    font-family: CalibreFamily, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100%;
}

/* slideshow */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

@media(max-width:500px) {

    .art {
        display: inline-block;
        color: rgb(218, 5, 5);
        font-family: 'Labrada', serif;
        font-weight: bolder;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-left: 1rem;
    }

    .cart {
        text-align: center;
        margin-left: 180px;
    }

    .image {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        margin-top: 4rem;
        justify-content: space-between;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        max-height: 1.2rem;

    }

    .head {
        display: flex;
        justify-content: end;
        max-width: 70px;
        margin: 0;

    }

    .start ul {
        margin: 0;
        padding: 0;
    }

    .start li {
        margin: 0;
    }

    hr {
        margin: 0;
    }


    .image {
        width: 6.5rem;

    }

    .image_name {
        width: 2rem;
        font-size: 1rem;
    }

    .slideshow-container {
        max-width: 70%;
        max-height: 50%;
        margin-top: 30rem;
    }

    .content {
        max-width: 100%;
        margin: 0;
    }

    .content p {
        margin: 0;
        max-width: 100%;
        text-align: center;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .form_box {
        width: 60%;
    }

    .forget_password p {
        font-size: 1rem;
    }

    .forget_password a {
        font-size: 1rem;
    }

    .midcontent {
        text-align: center;
        padding: 2px;
        margin-top: 40px;
        font-size: large;
        color: #666;
        display: flex;
        justify-content: center;
    }

    .inside_mid {
        display: flex;
        border: 2px solid white;
    }

    .middata {

        color: #666;

        font-family: CalibreFamily, Helvetica Neue, Helvetica, Arial, sans-serif;
        padding-left: 0px;
        font-size: 15px;
        margin: 0px;
        line-height: normal;

    }

    .item {
        font-size: small;
        margin-left: 0.5rem;


    }

    #item-1 h4 {
        background-color: rgb(237, 164, 173);
        margin: auto;
        max-width: fit-content;
    }

    #item-2 h4 {
        background-color: rgb(149, 225, 249);
        margin: auto;
        max-width: fit-content;
    }

    #item-3 h4 {
        background-color: rgb(248, 232, 161);
        margin: auto;
        max-width: fit-content;
    }

    #item-4 h4 {
        background-color: rgb(189, 249, 151);
        margin: auto;
        max-width: fit-content;

    }


    #item-1 p {
        font-size: 13px;
        text-align: center;
        max-width: 100%;
    }

    #item-2 p {
        font-size: 13px;
        text-align: center;
        max-width: 100%;
    }

    #item-3 p {
        font-size: 13px;
        text-align: center;
        max-width: 100%;

    }

    #item-4 p {
        font-size: 13px;
        text-align: center;
        max-width: 100%;

    }

    .filter {
        display: block;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 0;

    }

    #filter-form {
        margin-top: 0px;

    }

    #filter-form ul {
        margin-top: 0px;
        margin-bottom: 0px;
        list-style: none;

    }

    .category-painting p {
        display: inline-block;
        padding: 0px;
        margin: 0px;
        color: rgb(173, 25, 25);
        font-size: 1.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .category-painting {
        display: inline-block;
        padding: 0px;
        margin: 0px;

    }

    .color-group {
        display: inline-block;
        padding: 0px;
        margin: 0px;

    }

    .form-group {
        display: inline-block;
        padding: 0px;
        margin: 0px;

    }

    .form-discount {
        display: inline-block;
        padding: 0px;
        margin: 0px;


    }

    .shape {
        display: inline-block;
        padding: 0px;
        margin: 0px;

    }

    .Exclusive {
        display: inline-block;
        padding: 0px;
        margin: 0px;

    }

    .apply-submit {
        list-style: none;
        display: inline-block;
        padding: 0px;
        margin: 0px;
        margin-left: 6rem;
        font-size: medium;
    }

    label {
        display: block;
        font-weight: bold;
        font-size: medium;
        padding-right: 0px;
    }

    .bottom {
        background-color: #d7e6f5 !important;
        margin: 0;
        text-align: center;
    }

    .bottom p {
        text-align: center;
        margin-left: 100px;
    }

    .button1 {
        margin-left: 0px;
        margin-bottom: 0rem;
        padding: 0;
        margin-top: 0;
        text-align: center;
        font-size: 1.7rem;
    }
}



@media(min-width:500px)and (max-width:800px) {
    .art {
        display: inline-block;
        color: rgb(218, 5, 5);
        font-family: 'Labrada', serif;
        font-weight: bolder;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-left: 1rem;
    }

    .cart {
        text-align: center;
        margin-left: 180px;
    }

    .image {
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        margin-top: 4rem;
        justify-content: space-between;
    }

    .image_name {
        position: relative;
        width: 2rem;
        font-size: 1.3rem;
        text-align: center;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 100%;
        max-height: 2.5rem;
        text-align: center;
    }

    .head {
        display: flex;
        justify-content: end;
        max-width: 80px;
        margin: 0;
    }

    .start li {
        margin: 0;
    }

    .slideshow-container {
        max-width: 50%;
        max-height: 20%;
        margin-top: 30rem;
    }

    .content {
        max-width: 100%;
        margin: 3rem;
    }

    .content p {
        margin: 0;
        margin-top: 2rem;
        max-width: 100%;
        text-align: center;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .form_box {
        width: 50%;
    }

    .forget_password p {
        font-size: 1rem;
    }

    .forget_password a {
        font-size: 1rem;
    }

    .midcontent {
        text-align: center;
        padding: 2px;
        margin-top: 40px;
        font-size: large;
        color: #666;
        display: flex;
        justify-content: center;
    }

    .inside_mid {
        display: flex;
        border: 2px solid white;
    }

    .middata {
        color: #666;
        font-family: CalibreFamily, Helvetica Neue, Helvetica, Arial, sans-serif;
        padding-left: 0px;
        font-size: 15px;
        margin: 0px;
        line-height: normal;
    }

    .item {
        font-size: small;
    }

    #item-1 h4 {
        background-color: rgb(237, 164, 173);
        margin: auto;
        font-size: 0.9rem;
        max-width: fit-content;
    }

    #item-2 h4 {
        background-color: rgb(149, 225, 249);
        margin: auto;
        font-size: 0.9rem;

        max-width: fit-content;


    }

    #item-3 h4 {
        background-color: rgb(248, 232, 161);
        margin: auto;
        font-size: 0.9rem;

        max-width: fit-content;


    }

    #item-4 h4 {
        background-color: rgb(189, 249, 151);
        margin: auto;
        font-size: 0.9rem;
        max-width: fit-content;
    }


    #item-1 p {
        font-size: 11px;
        text-align: center;
        max-width: fit-content;


    }

    #item-2 p {
        font-size: 11px;
        text-align: center;
        max-width: fit-content;
    }

    #item-3 p {
        font-size: 11px;
        text-align: center;
        max-width: fit-content;
    }

    #item-4 p {
        font-size: 11px;
        text-align: center;
        max-width: fit-content;
    }

    .bottom {
        background-color: #d7e6f5 !important;
        margin: 0;
        text-align: center;
    }

    .bottom p {
        text-align: center;
        margin-left: 145px;
    }

    .button1 {
        margin-left: 0px;
        margin-bottom: 0rem;
        padding: 0;
        margin-top: 0;
        text-align: center;
        font-size: 1.7rem;
    }

    .shop1 {
        margin: 2rem;
    }

    #view-all {
        position: relative;
        text-align: center;
        margin-top: 2rem;
        background-color: #6c757f;
        color: whitesmoke;
    }
}

@media(min-width:800px)and (max-width:1200px) {
    .art {
        color: rgb(218, 5, 5);
        font-family: 'Labrada', serif;
        font-weight: bolder;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-left: 1rem;
        font-size: 2.5rem;
    }

    .image {
        width: 9rem;
        height: 9rem;
        border-radius: 100%;
        margin-top: 4rem;
        justify-content: space-between;
    }

    .search {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        position: relative;
        align-items: center;
        height: 2.5rem;
    }

    .head {
        display: flex;
        max-width: 10px;
        margin: 0;
    }

    .start li {
        margin: 0;
    }

    .image {
        width: 11rem;
    }

    .image_name {
        width: 2.3rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .slideshow-container {
        max-width: 55%;
        margin-top: 35rem;
    }

    .content {
        max-width: 100%;
        margin: 0;
        margin-right: 4rem;
        margin-left: 4rem;
    }

    .content p {
        margin: 0;
        max-width: 100%;
        text-align: center;
        margin-left: 3.3rem;
        margin-right: 3.3rem;
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .form_box {
        width: 70%;
    }

    .midcontent {
        text-align: center;
        padding: 2px;
        margin-top: 40px;
        font-size: large;
        color: #666;
        display: flex;
        justify-content: center;
    }

    .inside_mid {
        display: flex;
        border: 2px solid white;
    }

    .middata {
        color: #666;
        font-family: CalibreFamily, Helvetica Neue, Helvetica, Arial, sans-serif;
        padding-left: 0px;
        font-size: 15px;
        margin: 0px;
        line-height: normal;
    }

    .item {
        font-size: small;
    }

    #item-1 h4 {
        background-color: rgb(237, 164, 173);
        margin: auto;
        max-width: fit-content;
        font-size: 1.2rem;
    }

    #item-2 h4 {
        background-color: rgb(149, 225, 249);
        margin: auto;
        max-width: fit-content;
        font-size: 1.2rem;
    }

    #item-3 h4 {
        background-color: rgb(248, 232, 161);
        margin: auto;
        max-width: fit-content;
        font-size: 1.2rem;
    }

    #item-4 h4 {
        background-color: rgb(189, 249, 151);
        margin: auto;
        max-width: fit-content;
        font-size: 1.2rem;
    }

    #item-1 p {

        text-align: center;
        max-width: fit-content;
        font-size: 1rem;
    }

    #item-2 p {

        text-align: center;
        max-width: fit-content;
        font-size: 1rem;
    }

    #item-3 p {

        text-align: center;
        max-width: fit-content;
        font-size: 1rem;
    }

    #item-4 p {

        text-align: center;
        max-width: fit-content;
        font-size: 1rem;
    }

    .filter {
        display: block;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 60px;

    }

    #filter-form {
        padding: 5px;
        margin-top: 0px;
    }

    #filter-form ul {
        margin-top: 0px;
        margin-bottom: 0px;
        list-style: none;
    }

    .category-painting p {
        display: inline-block;
        padding: 0px;
        margin: 0px;
        color: rgb(173, 25, 25);
        font-size: 1.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .category-painting {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    .color-group {
        display: inline-block;
        padding: 0px;
        margin: 0px;
        /* margin-right : 0.2rem; */
    }

    .form-group {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    .form-discount {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    .shape {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    .Exclusive {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    .apply-submit {
        list-style: none;
        display: inline-block;
        padding: 0px;
        margin: 0px;
        margin-left: 6rem;
        font-size: medium;
    }

    label {
        display: block;
        font-weight: bold;
        font-size: medium;
        padding-right: 0px;
    }

    .bottom {
        background-color: #d7e6f5 !important;
        margin: 0;
        text-align: center;
    }

    .bottom p {
        text-align: center;
        margin-left: 12rem;
        margin-right: 10rem;
    }

    .button1 {
        margin-left: 0px;
        margin-bottom: 0rem;
        padding: 0;
        margin-top: 0;
        text-align: center;
        font-size: 1.7rem;
    }

    .shop1 {
        margin: 5rem;
    }
}


@media(min-width:1200px)and (max-width:1500px) {

    .art {
        color: rgb(218, 5, 5);
        font-family: 'Labrada', serif;
        font-weight: bolder;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-left: 2rem;
        font-size: 2.2rem;

    }


    .image {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        margin-top: 4rem;
        margin-right: 0.5rem;
        justify-content: space-between;
    }

    .search {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 100%;
        height: 3.8rem;
        text-align: center;
        position: relative;
        align-items: center;
    }

    .head {
        position: relative;
        text-align: left;

    }

    .start li {
        margin: 0;
    }


    .image_name {
        width: 2.0rem;
        font-size: 1.3rem;
        text-align: center;
        margin-left: 1.2rem;
    }

    .slideshow-container {
        max-width: 50%;
        margin-top: 17rem;
        margin-bottom: 5rem;
    }

    .content {
        max-width: 100%;
        margin: 0;
        margin-left: 7rem;
        margin-right: 7rem;

    }

    .content h1 {
        text-align: center;
        font-size: 2rem;
    }

    .content p {
        margin: 0;
        max-width: 100%;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        line-height: 2.2rem;
    }

    .form_box {
        width: 100%;
    }

    .forget_password p {
        font-size: 1.5rem;
    }

    .forget_password a {
        font-size: 1.3rem;
    }

    .midcontent {
        text-align: center;
        padding: 2px;
        margin-top: 40px;
        color: #666;
        display: flex;
        justify-content: center;
    }

    .inside_mid {
        display: flex;
        border: 2px solid white;
    }

    .middata {

        color: #666;
        font-family: CalibreFamily, Helvetica Neue, Helvetica, Arial, sans-serif;
        padding-left: 0px;
        font-size: 15px;
        margin: 0px;
        line-height: normal;

    }

    .item {
        font-size: small;
    }

    #item-1 h4 {
        background-color: rgb(237, 164, 173);
        margin: auto;
        max-width: fit-content;
        font-size: 1.5rem;

    }

    #item-2 h4 {
        background-color: rgb(149, 225, 249);
        margin: auto;

        max-width: fit-content;

        font-size: 1.5rem;
    }

    #item-3 h4 {
        background-color: rgb(248, 232, 161);
        margin: auto;
        max-width: fit-content;
        font-size: 1.5rem;
    }

    #item-4 h4 {
        background-color: rgb(189, 24 max-width: fit-content;
                font-size: 1.5rem;
        }

        #item-1 p {
            font-size: 15px;
            text-align: center;
            max-width: fit-content;
        }

        #item-2 p {
            font-size: 15px;
            text-align: center;
            max-width: fit-content;
        }

        #item-3 p {
            font-size: 15px;
            text-align: center;
            max-width: fit-content;
        }

        #item-4 p {
            font-size: 15px;
            text-align: center;
            max-width: fit-content;
        }


        .bottom {
            background-color: #d7e6f5 !important;
            margin: 0;
            text-align: center;
        }

        .bottom p {
            text-align: center;
            margin-left: 270px;
        }

        .button1 {
            margin-left: 0px;
            margin-bottom: 0rem;
            padding: 0;
            margin-top: 0;
            text-align: center;
            font-size: 1.7rem;
        }

        .shop1 {
            margin: 2rem 6rem 4rem;
        }



        .category-painting {
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }

        .color-group {
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }

        .form-group {
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }

        .form-discount {
            display: inline-block;
            padding: 0px;
            margin: 0px;

        }

        .filter {
            display: block;
            margin-top: 20px;
            margin-bottom: 0px;
            margin-left: 60px;

        }

        #filter-form {
            padding: 5px;
            margin-top: 0px;
        }

        #filter-form ul {
            margin-top: 0px;
            margin-bottom: 0px;
            list-style: none;
        }

        .category-painting p {
            display: inline-block;
            padding: 0px;
            margin: 0px;
            color: rgb(173, 25, 25);
            font-size: 1.5rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .category-painting {
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }

        .color-group {
            display: inline-block;
            padding: 0px;
            margin: 0px;

        }

        .form-group {
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }

        .form-discount {
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }

        .shape {
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }

        .Exclusive {
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }

        .apply-submit {
            list-style: none;
            display: inline-block;
            padding: 0px;
            margin: 0px;
            margin-left: 6rem;
            font-size: medium;
        }

        label {
            display: block;
            font-weight: bold;
            font-size: medium;
            padding-right: 0px;
        }


    }

    .loginMSG {
        background: #89f368;
        display: none;
        padding: 10px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        word-spacing: 3px;
    }